@import "tailwindcss";

textarea::-webkit-scrollbar {
  width: 6px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
textarea::-webkit-scrollbar-track {
  background: transparent;
}

.message-container::-webkit-scrollbar {
  width: 8px;
  right: 0px;
}

.message-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
}

.message-container::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.message-container::-webkit-scrollbar-track {
  background: transparent;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background: #242424;
}

#root {
  height: 100%;
}

.chat-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}